/* CSS Document */
*{margin:0;padding:0;}
body {font-size:62.5%;font-family:arial, sans-seref; background:url(../Images/bg_body.jpg) center top;}
div.Xoa { clear:both;}
#KhungToanBo{ width:1000px;min-height:900px;margin:auto;}
.Title-Left {width:100%;height:34px;margin:0px; background:#419dd7 url(../Images/logo.png) left no-repeat;text-align:center;font-size: 20px;color:#FFF;line-height:34px;font-weight:bold;}
#Dangnhap {width:350px;height:300px ;margin:auto;margin-top:150px;border:#CCC 1px solid }
#Dangnhap #DangNhapbox{ width:90%;height:100px;margin:auto;padding:40px 0;}
#Dangnhap #DangNhapbox .textboxdangnhap{ width:90%;height:27px;margin:1px auto}
#Dangnhap #DangNhapbox .buttondangnhap{ width:49%;height:30px;margin-top:20px}
#Dangnhap #vetrangchu{width:100%;height:20px;font-size:18px;color:#069;text-align:center;line-height:50px}
#Dangnhap #vetrangchu a{text-decoration:none}
#Menu {width:100%;height:220px; margin:auto;margin-top:20px;border:#009 1px solid}
#Control_Panel{width:100%;height:auto;margin:auto;font-size:14px;text-align:center;line-height:40px; font-weight:bold;color:#060}
#Panel_Box{width:19.6%;height:170px;float:left;margin:10px 0px;border-right:#096 1px solid}
#Panel_Box:last-child{border-right:none; }
#Panel_Box a{text-decoration:none }

#Main-Body {font-size:16px;text-align:center;margin-top:50px;width:100%;height:auto}
#Main-Body .Them {border:1px #336699 solid;width:38%;height:auto;float:left;}
#Main-Body .tableThem {width:100%;height:auto;margin-bottom:20px;}
#Main-Body .Title{font-size:20px;color:#F00;width:100%;height:50px;line-height:50px;}
.Nhan {width:30%;height:40px;}
.Nhan img {max-width:100px;max-height:100px;float:left;margin:2px}
.Nhap { width:70%;height:40px }
.txtnhap {width:90%;height:30px;font-size:16px;}
#tachitietsp {width:90%;height:120px;font-size:14px;}

.Lietke{float:right;width:60%;height:auto;}
.Lietke .tableLietke {width:100%;height:auto;margin-bottom:20px;border-collapse:collapse}
.Lietke .tableLietke .Cot1{width:5%;height:40px;}
.Lietke .tableLietke .Cot2{width:17%;}
.Lietke .tableLietke .Cot3{width:17%;}
.Lietke .tableLietke .Cot4{width:17%;}
.Lietke .tableLietke .Cot5{width:17%;}
.Lietke .tableLietke .Cotcuoi{width:15%;}


#Lietkekhachhang{width:100%;margin:auto;	}
#Lietkekhachhang #tableLietke{width:100%;border-collapse:collapse}


.Timkiem{width:100%;height:30px;}
.Timkiem form {width:100%;height:100%;float:right;text-align:center;font-size:16px;}
.Timkiem form input{width:25%;height:90%;font-size:16px }
.Timkiem form #txtTimkiem{width:40%}


