/* CSS used here will be applied after bootstrap.css */
@media only screen and (min-width : 481px) {
    .row.equal-height {
        display: flex;
        flex-wrap: wrap;
    }
    .row.equal-height > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .row.equal-height.row:after,
    .row.equal-height.row:before {
        display: flex;
    }

    .row.equal-height > [class*='col-'] > .thumbnail,
    .row.equal-height > [class*='col-'] > .thumbnail > .caption {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
    }
    .row.equal-height > [class*='col-'] > .thumbnail > .caption > .flex-text {
        flex-grow: 1;
    }
    .row.equal-height > [class*='col-'] > .thumbnail > img {
        width: 100%;
        height: 300px; /* force image's height */

        /* force image fit inside it's "box" */
        -webkit-object-fit: cover;
        -moz-object-fit: cover;
        -ms-object-fit: cover;
        -o-object-fit: cover;
        object-fit: cover;
    }
}



/*footer*/
.full {
    width: 100%;
}

.footer {
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    color:#fff;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
    background: #00003E;
    background: -webkit-linear-gradient(to right, #31BDE6, #00003E);
    background: linear-gradient(to right, #31BDE6, #00003E);
}


.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color:#fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D;
    color:#fff;
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.subscribe-btn .btn {
    border: medium none;
    border-radius: 4px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
    margin-top:10px;
}
.subscribe-btn {
    overflow: hidden;
}

.social li {
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 20px;
    margin: 5px 0 0 0;
    color: #EDEFF1 !important;
}
.footer-bottom {
    background: #40E0D0;
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    border-top: 1px solid #DDDDDD;
    padding-top: 20px;
    padding-bottom: 40px;
    color:#fff;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    font-size: 1.5em;
}




/*banner*/
.carousel-inner img {
    width: 100%;
    height: 100%;
}


/*img-container*/
.img-container {
    position: relative;
    color: white;
}

.img-text-bottom-left {
    position: absolute;
    bottom:  4px;
    left: 5px;
}

/*img left text right*/
.post-container {
    margin: 20px 20px 0 0;
    border-top: 2px solid #e83e8c;
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin: 10px 0px 0px 210px
}
.post-title {
    font-weight: bold;
    color: #0044cc;
    font-size: 120%
}





