<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        id="Your_WebApp_ID"
        version="2.5">
    <display-name>Archetype Created Web Application</display-name>

    <!--<servlet>-->
        <!--<description></description>-->
        <!--<display-name>homepage</display-name>-->
        <!--<servlet-name>indexServlet</servlet-name>-->
        <!--<servlet-class>IndexServlet</servlet-class>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>indexServlet</servlet-name>-->
        <!--<url-pattern></url-pattern>-->
    <!--</servlet-mapping>-->
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>IndexServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>xulydattour</servlet-name>
        <servlet-class>XuLyDatTour</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>xulydattour</servlet-name>
        <url-pattern>/xulydattour</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>danhsachtourtheoloai</servlet-name>
        <servlet-class>DanhSachTourTheoLoai</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>danhsachtourtheoloai</servlet-name>
        <url-pattern>/danhsachtourtheoloai</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>XemChiTietTour</servlet-name>
        <url-pattern>/xemchitiettour</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>XemChiTietTour</servlet-name>
        <servlet-class>HienThiChiTietTour</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>khachhangdattour</servlet-name>
        <url-pattern>/kdattour</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>khachhangdattour</servlet-name>
        <servlet-class>KhachDatTour</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>khachhangtimkiem</servlet-name>
        <url-pattern>/ktimkiem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>khachhangtimkiem</servlet-name>
        <servlet-class>TimKiem</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>gioithieu</servlet-name>
        <url-pattern>/menu/gioithieu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>gioithieu</servlet-name>
        <servlet-class>menu.GioiThieu</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>camnangdulich</servlet-name>
        <url-pattern>/menu/camnangdulich</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>camnangdulich</servlet-name>
        <servlet-class>menu.CamNangDuLich</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>lienhe</servlet-name>
        <url-pattern>/menu/lienhe</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lienhe</servlet-name>
        <servlet-class>menu.LienHe</servlet-class>
    </servlet>












    <servlet>
        <servlet-name>indexAdmin</servlet-name>
        <servlet-class>admin.IndexAdmin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>indexAdmin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>xuLyDangNhapAdmin</servlet-name>
        <servlet-class>admin.XyLyDangNhapAdmin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>xuLyDangNhapAdmin</servlet-name>
        <url-pattern>/admin/xulydangnhapadmin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>quanlytour</servlet-name>
        <servlet-class>admin.XuLyTour</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>quanlytour</servlet-name>
        <url-pattern>/admin/quanlytour</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>quanlydattour</servlet-name>
        <servlet-class>admin.QuanLyDatTour</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>quanlydattour</servlet-name>
        <url-pattern>/admin/quanlydattour</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>thongtinkhachhang</servlet-name>
        <servlet-class>admin.ThongTinKhachHang</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>thongtinkhachhang</servlet-name>
        <url-pattern>/admin/thongtinkhachhang</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>thongkedoanhthu</servlet-name>
        <servlet-class>admin.ThongKe</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>thongkedoanhthu</servlet-name>
        <url-pattern>/admin/thongkedoanhthu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>xulydangxuat</servlet-name>
        <servlet-class>admin.XuLyDangXuat</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>xulydangxuat</servlet-name>
        <url-pattern>/admin/xulydangxuat</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>mail</servlet-name>
        <servlet-class>main.servlet.admin.GuiMailChoKhach</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mail</servlet-name>
        <url-pattern>/admin/mail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>formmail</servlet-name>
        <servlet-class>main.servlet.admin.LoadFormMail</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>formmail</servlet-name>
        <url-pattern>/admin/formmail</url-pattern>
    </servlet-mapping>




    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
